
<br><h1>Sign Up</h1>


<%= form_for @user do |f| %>
    <p> Create a username: <%= f.text_field :username %> </p>
    <p> Create a password: <%= f.password_field :password %> </p>
    <br>
    <%= f.submit %>
<% end %>
