<h1> List of all posts </h1>
<br>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <% end %>
    <% end %>
    <br>
<h2> <% @posts.each do |t| %> </h2>
    <h2> <%= link_to t.title, post_path(t) %> </h2>
    <p><%= t.content %></p><br>
<% end %>


<h2> <%= link_to "Create a Post", new_post_path(@post) %> </h2>